[2015-01-04 13:24] ericelliott opened #1 "Logo Suggestions"
We're on a mission to end homelessness for good by raising awareness of a great solution that's tremendously effective at reducing chronic homelessness: [Housing First](http://en.wikipedia.org/wiki/Housing_First), and by supplying high-quality JavaScript training to housing first job training programs. Read the Medium post that kicked off a global movement: [Fighting Poverty with Code](https://med

[2015-01-04 14:23] ericelliott opened #2 "Learning Resources for housing first programs"
## Update - Discussion Moved!

We've created a new [learning-resources](https://github.com/jshomes/learning-resources) repository. All discussion about learning resources should be submitted there as Pull Requests or issues. Thanks everybody!

## Old stuff:

* [Learn JavaScript Essentials](https://medium.com/javascript-scene/learn-javascript-b631a4af11f2) for all skill levels
* [JS Dares](http://w

[2015-01-09 04:03] lolptdr commented on #2
* [Javascript Patterns by Shi Chuan](http://shichuan.github.io/javascript-patterns/) JS programming patterns and antipatterns
* [You Don't Know JS](https://github.com/getify/You-Dont-Know-JS) Kyle Simpson's books deep-diving into the core mechanisms of JavaScript
* [Eloquent JavaScript](http://eloquentjavascript.net/) Marijn Haverbeke's introduction to JavaScript
* [CodeCombat](https://codecombat.

[2015-01-09 04:11] ericelliott commented on #2
Thanks!

[2015-01-09 05:55] 1Marc commented on #2
I'd donate [Frontend Masters](https://FrontendMasters.com) licenses.

[2015-01-09 06:04] ericelliott commented on #2
Marc, that's amazing. That's going to help a lot of people.

[2015-01-25 19:04] Elfoslav commented on #2
http://www.codermania.com/ - Learn to code interactively, for now just JavaScript. Later HTML & CSS.

[2015-01-25 19:24] ericelliott commented on #2
Thanks!

[2015-02-02 09:05] davidhund commented on #2
http://humanjavascript.com/
http://eloquentjavascript.net/
http://jsbooks.revolunet.com/

[2015-02-02 09:09] davidhund opened #3 "jshomes.org "Find out more" 404"
FYI: I'm not sure the jshomes.org site is 'live' yet, but I noticed the "Find out more" button results in a 404.

The `href` is set to `clkn/http://learn-javascript.ericelliott.me/prelaunch/` and results in `https://echoentertainment.club/prelaunch/`, which returns a 404...

[2015-02-03 00:23] ericelliott commented on #3
Yeah, jshomes.org is not "live". That's just a placeholder. Thanks for bringing the broken link to my attention, though. =)

[2015-02-03 00:27] ericelliott commented on #2
Thanks David! =)

[2015-06-14 20:53] csrobinson86 commented on #2
http://www.sitepoint.com/javascript/raw-javascript/ - Always has good specific articles.
http://gymnasium.aquent.com/catalog - Video Course on JS fundamentals (4 hours long)
https://www.udacity.com/course/javascript-basics--ud804 - Video Course on JS Basic

[2015-06-15 02:23] ericelliott commented on #2
Thanks! =)

[2015-06-15 13:49] csrobinson86 commented on #2
Eric - this resource more about the browser in-depth.  Really the best resource I have found in learning more about the behind the scenes work of the browser.
http://www.html5rocks.com/en/tutorials/internals/howbrowserswork/#Render_tree_construction

[2015-06-16 02:40] ericelliott opened #4 "Software Development Needs Meta-issue"
This issue is here to compile various opportunities to contribute to the open source software that JSHomes intends to use. If you don't see a link for one of the items, feel free to suggest on open-source solution that may work, or volunteer to create a solution in the issue comments here.

* [ ] Something like an open-source version of CodePen that allows students to modify embedded code examples

[2015-06-16 20:23] ericelliott opened #5 "WordPress Themes Needed"
We need two WordPress themes for JSHomes.org.

## Requirements

* [ ] Two themes - a parent theme with JSHomes Platform and branding, and a child theme with JSHomes.org logos and branding.
* [ ] The Parent theme should provide first class support for [WooCommerce](http://docs.woothemes.com/document/third-party-custom-theme-compatibility/)
* [ ] Use the [internationalization / i18n features](https:

[2015-06-16 20:27] ericelliott opened #6 "Design Help Meta Issue"
One of our most pressing needs is for designers who are familiar with WordPress theme development.

Here's how you can contribute right now:

* [Logo Design Ideas](https://github.com/jshomes/jshomes.org/issues/1)
* [WordPress Theme Help](https://github.com/jshomes/jshomes.org/issues/5)

[2015-06-16 20:31] ericelliott commented on #2
Amazing suggestions, everybody! Let's start turning these into a Markdown document using the README file in the new [learning-resources](https://github.com/jshomes/learning-resources) repository. We'll close this issue once that work gets underway and move all future discussion on this topic to that repo.

[2015-06-16 20:32] #2 closed

[2015-06-17 01:06] ericelliott opened #7 "Need WordPress submodule setup"
Add the base WordPress platform.

Make sure we capture and track plugins and configuration as much as possible.

[2015-06-17 01:07] ericelliott opened #8 "Need WordPress Multi-Environment Config"
[Howto](http://wptavern.com/wordpress-multi-environment-config-work-seamlessly-between-development-staging-and-production-sites)

https://github.com/jshomes/JSHomes-Platform/issues/4

[2015-06-17 01:09] ericelliott commented on #7
https://github.com/jshomes/JSHomes-Platform/issues/7

[2015-06-17 01:16] ericelliott commented on #7
#4

[2015-06-17 04:05] #7 closed

[2015-06-17 21:32] ericelliott opened #9 "Finish WordPress Git Config"
## Basic config

* [ ] Add `jshomes-platform-theme`
* [ ] Use env vars for `wp-config.php`

## .env files

* [ ] [php dotenv](https://github.com/vlucas/phpdotenv)
* [ ] [Node dotenv](https://github.com/motdotla/dotenv)

## Add to getting started doc

* [x] clone the repo
* [ ] copy appropriate .env file from `config/*.env`

[2015-06-17 22:38] ericelliott opened #10 "Investigate Vagrant, Ansible, Docker, CircleCI, CodeShip"
* [ ] Decide on the continuous deliver architecture
* [ ] Create Docker containers
* [ ] Document CI/CD config
* [ ] Add CI/CD config to "Getting Started" doc in README

[2015-06-17 22:41] ericelliott opened #11 "Functional tests in JavaScript"
* [ ] Create a client JS functional test suite with webdriver + [tape](https://github.com/substack/tape)
* [ ] Create a server JS functional test suite with [tape](https://github.com/substack/tape) & [supertest](https://github.com/visionmedia/supertest)

[2015-06-17 22:43] ericelliott commented on #11
#4

[2015-06-17 22:52] ericelliott opened #12 "Test directory structure"
Set up isomorphic test suite directory structure.

See https://github.com/jshomes/JSHomes-Platform/issues/11

[2015-06-17 22:57] ericelliott opened #13 "Add JSHomes Platform Theme"
* [ ] Set up a [base platform theme](https://github.com/jshomes/jshomes-platform-theme)

See https://github.com/jshomes/JSHomes-Platform/issues/9

[2015-06-17 23:40] ericelliott opened #14 "Make install process really easy"
# Example

We need to enable an install workflow that is as simple as the Bedrock WP platform:

---
## Installation

1. Clone the git repo - `git clone https://github.com/roots/bedrock.git`
2. Run `composer install`
3. Copy `.env.example` to `.env` and update environment variables:
  * `DB_NAME` - Database name
  * `DB_USER` - Database user
  * `DB_PASSWORD` - Database password
  * `DB_HOST` - Dat

[2015-06-18 03:06] #8 closed

[2015-06-18 03:08] ericelliott commented on #9
See https://github.com/jshomes/JSHomes-Platform/issues/14

[2015-06-18 19:49] taylorpoe commented on #1
Hey Eric,

I had a free morning. What do you think?

![image](https://cloud.githubusercontent.com/assets/1357566/8240565/5f8e5fd0-15b8-11e5-9e7a-d8f4e7035eb8.png)

[2015-06-18 20:14] ericelliott commented on #1
Cool! Great start!

[2015-06-19 14:31] SOSANA commented on #4
Have you checked out keystone cms? https://github.com/keystonejs/keystone

[2015-06-19 19:14] ericelliott commented on #4
@SOSANA I don't think that's going to work, but if you don't want to mess with the WordPress stuff, you could [start here](https://github.com/jshomes/nodehomes/issues/2).

[2015-06-20 01:30] JosephClay commented on #1
![jshomes](https://cloud.githubusercontent.com/assets/4593699/8265524/08feca64-16c2-11e5-932c-4cde1741a213.jpg)

[2015-06-20 02:41] ericelliott commented on #1
@JosephClay Awesome!

[2015-06-20 14:28] rommelxcastro commented on #5
i'd be more than glad to help with this, do you have a design or colors for this? thanks

[2015-06-20 15:07] ericelliott commented on #5
Hi @rommelxcastro - We don't have design or colors for it yet.

We're exploring logo and branding ideas in the [logo issue](https://github.com/jshomes/JSHomes-Platform/issues/1). That work needs to be completed before we dive into our WordPress theme implementation. Please feel free to contribute there, or recruit your designer friends if logos aren't your thing! =)

We're using the [Dazzling them

[2015-06-20 15:30] ericelliott opened #17 "Is StrongLoop Arc a good solution for API services?"
We should evaluate [Strongloop Arc](https://strongloop.com/node-js/arc/) to discover whether or not it would be useful to develop our API services.

[2015-06-21 01:22] yadielar commented on #1
Here's my take.

![js-homes-logo](https://cloud.githubusercontent.com/assets/981175/8269983/5d88e044-1792-11e5-873a-df6910492909.png)

[2015-06-22 04:50] jaime5x5 commented on #1
I like this one since it can be modified from a thumbnail to horizontal by the house figure under the roof and chimney and sliding up the homes block. Also would work well in BW or as a symbol by dropping the homes block. Nice flexibility and options for figure ground.

[2015-06-22 05:32] ericelliott commented on #1
Very cool. =) :+1:

[2015-06-22 15:55] yadielar commented on #1
@jaime5x5 Do you mean something like this?

![js-homes-variations](https://cloud.githubusercontent.com/assets/981175/8286089/8dc85412-18d5-11e5-86ad-0be430690a5e.png)

[2015-06-22 16:15] ericelliott commented on #1
:100:

[2015-06-22 16:16] ericelliott commented on #1
I wonder what that would look like with different colors? I've never been a big fan of the bright yellow in the "JavaScript" logo...

[2015-06-22 16:39] yadielar commented on #1
@ericelliott Here are two (perhaps homier) color options.

***

**A:** Bluesky

![js-homes-bluesky](https://cloud.githubusercontent.com/assets/981175/8287020/1fc2c23a-18db-11e5-938f-e77f0cb55f66.png)

***

**B:** Bluegrass

![js-homes-bluegrass](https://cloud.githubusercontent.com/assets/981175/8287023/24c31294-18db-11e5-95b0-77f7b7e01cc7.png)

[2015-06-22 20:29] ericelliott opened #18 "Get this working with docker-compose"
I want the install, config, and deploy process to be a breeze, and I have a strong feeling that `docker-compose` is a good way to do that.

However, getting it working for the first time is giving me trouble. Check out the current [the gist](https://gist.github.com/ericelliott/60fd032df5e60093a599) for details.

For more context, check our our [docker experiment status](https://github.com/jshomes/

[2015-06-22 21:08] ericelliott commented on #18
Fixed. Just needed to browse to the correct IP! :+1:

[2015-06-22 21:08] #18 closed

[2015-06-22 21:13] ericelliott opened #19 "Get the app running with docker-compose"
We're trying to get the platform working on docker containers. We want to accomplish the following objectives:

*  **Configuration via environment variables** for easy multi-environment deployments and horizontal scaling
*  **Extremely easy development environment setup** for new contributors. A few minutes and a short README should be enough to get the app to spin up on a new machine.
* **Automat

[2015-06-22 22:07] JosephClay commented on #1
@yadielar I like B. The green makes it look like lawn.

[2015-06-22 22:24] ericelliott commented on #1
I also like B. =)

[2015-06-23 00:09] yadielar commented on #1
Alright. Here's option B in SVG format in case you decide to use it, or so others can improve it.

[jshomes-logo.svg](https://www.dropbox.com/s/wqs58ni45itc4ut/jshomes-logo.svg?dl=0)
[jshomes-logo-symbol.svg](https://www.dropbox.com/s/zdicau37x6y6msm/jshomes-logo-symbol.svg?dl=0)
[jshomes-horizontal.svg](https://www.dropbox.com/s/z2av0pki8uu3qtb/jshomes-horizontal.svg?dl=0)

Feel free to use this

[2015-06-23 00:16] yadielar commented on #1
Also, here's the original Sketch source file from where I exported the SVGs.

[jshomes-logo.sketch](https://www.dropbox.com/s/9t6y0uh1dey0y3i/jshomes-logo.sketch?dl=0)

[2015-06-23 00:18] ericelliott commented on #1
Thanks. =)

[2015-06-23 00:41] jviana commented on #1
My contribution to JSHomes.org:
![jshomes](https://cloud.githubusercontent.com/assets/11962048/8296480/db7951ca-1948-11e5-830e-efa8869b481e.png)

[2015-06-23 01:21] csrobinson86 commented on #1
I really like it @jviana

[2015-06-23 01:29] ericelliott commented on #1
Cool. I like the concept. Is there a way it could look good at 100px x 100px?

[2015-06-23 03:44] jaime5x5 commented on #1
@yadielar nicely done Sir!!! The svg's will make nice components for animations. I like all three color pallets. Green for call to action,  yellow for attention and the blue cause it just looks pleasant, What font are you using?

[2015-06-23 04:04] jaime5x5 commented on #5
So @ericelliott are you planning on integrating the classes as simply virtual products or using Sensei?

What functionality do you want to provide on the course material, will there be associated download files for the project? Can the user download the course video? Where will the video's live, on the server, vimeo, youtube or other?

Will there be a forum for Q & A.

If this takes off a plan for

[2015-06-23 04:45] yadielar commented on #1
@jaime5x5 Thanks! I used an open source font called Lato.

[2015-06-23 08:32] jviana commented on #1
Thanks @csrobinson86

Thanks @ericelliott
I'll work on it

[2015-06-23 08:48] jviana commented on #1
Some minor adjustments ... And the version 100x87:

![jshomes100x87](https://cloud.githubusercontent.com/assets/11962048/8302246/eb53561a-198c-11e5-9258-f5ce2ccf91cb.png)

[2015-06-23 10:06] jviana commented on #1
![jshomes3](https://cloud.githubusercontent.com/assets/11962048/8303749/e7af9cca-1997-11e5-9797-af3be4a50f51.png)

[2015-06-23 11:33] jviana commented on #1
Simplifying...
(without JS)

![jshomes4](https://cloud.githubusercontent.com/assets/11962048/8305149/0d1c206c-19a4-11e5-9734-177f8c1f03ec.png)

[2015-06-24 05:49] ericelliott opened #20 "Change default max filesize"
The default max filesize is too small.

## Solution

* [ ] Change `upload_max_filesize` directive in `php.ini` to use an environment variable

[code]

[2015-06-24 18:25] apetrosian commented on #1
Hey, what do you think about this simple idea?

![js-homes-logo](https://cloud.githubusercontent.com/assets/1837815/8338039/0f568732-1ab7-11e5-9c8f-37267f8419fd.jpg)

[2015-06-24 18:29] ericelliott commented on #1
Nice!

[2015-06-24 18:47] evanboho commented on #19
I believe the last `data` in the command (which in the example is `my-data`) refers to a named container. In the first line of the example, they do `docker run -v /data --name my-data busybox true` which names the container `my-data`.

[2015-06-24 18:54] ericelliott commented on #19
Could you create a PR with a (tested) fix for the doc? See the docker experiment docs link above...

[2015-07-02 22:05] ericelliott opened #21 "Add Jetpack"
Add [Jetpack](https://github.com/Automattic/jetpack) for enhanced WP features including Markdown support for posts.

[2015-07-02 23:40] ericelliott commented on #19
@mattma Let's discuss here instead of Twitter. =)

[2015-07-02 23:45] ericelliott commented on #19
See [@mattma's fork](https://github.com/mattma/JSHomes-Platform) for work in progress

[2015-07-03 23:30] Freizeitler commented on #1
I'm absolutely no designer, but i love doing stuff with inkscape ;) And I don't like the typo and the colors here, though...
![jshomes-s-dif-sizes](https://cloud.githubusercontent.com/assets/403910/8505582/ee30b0b0-21ea-11e5-9a30-6e02a1baefe7.png)

[2015-07-04 01:04] ericelliott opened #22 "Add Groups"
Add the groups plugin so that access can be restricted to members.

* [ ] [Groups plugin](https://github.com/itthinx/groups)
* [ ] [groups-404-redirect](https://github.com/itthinx/groups-404-redirect)

[2015-07-04 01:05] ericelliott commented on #1
Thanks. =)

[2015-07-04 23:44] ericelliott opened #23 "Fix video scripts for https"
Changes needed:

`wp-content/plugins/yith-woocommerce-featured-video/class.yith-woo-featured-video-frontend.php`

[code]

[2015-07-04 23:47] ericelliott opened #24 "yith-woocommerce-featured-video required"
[GitHub Link](https://github.com/wp-plugins/yith-woocommerce-featured-video)

[2015-07-05 04:02] ericelliott opened #25 "New Member role"
Set new members to role: Member

This will allow you us to auto-sync Members with mailchimp.

[2015-07-05 04:12] ericelliott opened #26 "WooCommerce: Link to user account from Orders page"
It can sometimes be hard to find the user that an order was made by. It should be a breeze so we can easily handle customer service workflows.

* [ ] Open a pull request in the [WooCommerce repo](https://github.com/woothemes/woocommerce)
* [ ] If accepted, update WooCommerce plugin, else, create a plugin for WooCommerce that adds this.

[2015-07-05 09:48] ericelliott opened #27 "Investigate JotForm"
* [ ] [plugin](https://github.com/jotform/wordpress-feedback-plugin)
* [ ] Instructions for integrating with [ZenDesk](https://www.zendesk.com/) for support tickets

[2015-07-05 10:00] ericelliott opened #28 "Twitter plugin"
Supports embedding tweets by pasting the url.

* [ ] [official Twitter plugin](https://github.com/twitter/wordpress)

[2015-07-05 10:01] ericelliott commented on #28
#4

[2015-07-05 17:34] chrisrhoton commented on #4
For WP authentication via GitHub, perhaps the WP-OAuth plugin? https://github.com/perrybutler/WP-OAuth

[2015-07-05 19:38] ericelliott opened #29 "MixPanel Plugin"
* [ ] Add [MixPanel Plugin](https://github.com/mixpanel/mixpanel-streams-wp)
* [ ] Make sure it captures WooCommerce sales

If it's easy, add tracking to the platform dashboard.

[2015-07-05 20:29] ericelliott opened #30 "GitHub Auth"
One-button login with GitHub: authorizes app to sync student and org data with GitHub.

This was dead simple to implement for the Node.js platform, so hopefully will also be easy for WordPress.

Maybe [WP-OAuth plugin](https://github.com/perrybutler/WP-OAuth)?

cc @chrisrhoton

[2015-07-05 20:30] ericelliott commented on #4
Thanks @chrisrhoton!

[2015-07-05 20:35] ericelliott opened #31 "Courseware UI WordPress Integration"
A WordPress integration for the Courseware UI that will be written in universal JS/ES6 & React.

This won't be needed after we port all the WordPress functionality we need to Node.

[2015-07-05 20:42] ericelliott opened #32 "Courseware UI in universal ES6 & React"
A UI featururing

* [ ] User profiles
* [ ] Dashboards & Workflows
  - [ ] Student
  - [ ] Instructor
  - [ ] TA
  - [ ] Org
  - [ ] Team (study groups / project collaborators)
* [ ] Achievement charts for all roles
  1. [ ] Students
  1. [ ] Teams
  1. [ ] Orgs
  1. [ ] TAs
  1. [ ] Instructors

[2015-07-05 22:07] ericelliott opened #33 "Supportive infrastructure"
* [ ] Universal logging
* [ ] Universal feature toggle
* [ ] Universal system messages
* [ ] Universal notifications
* [ ] Bug reporting
* [ ] Client receipts
* [ ] Client support (ZenDesk integration)
* [ ] Mobile messaging
* [ ] Mobile notification management
* [ ] Container app dev environment install & deploy strategy
* [ ] Service cluster monitoring
* [ ] A/B testing strategy

[2015-07-05 23:55] chrisrhoton commented on #4
Free Code Camp moved from Gitter to Slack and back to Gitter again. Here's [a write up] (http://blog.freecodecamp.com/2015/06/so-yeah-we-tried-slack-and-we-deeply-regretted-it.html) of their experience. Seems relevant given the similar use case.

[2015-07-06 00:16] chrisrhoton commented on #4
[Plunkr] (http://plnkr.co) might work if you're looking for something like CodePen but [open source] (https://github.com/filearts/plunker).

[2015-07-06 00:32] ericelliott commented on #4
Great @chrisrhoton! Thanks a lot. :fire:

[2015-07-06 16:12] mattma commented on #19
I will pick up where I left off today. I am currently working on the connection between Wordpress and MySQL.

[2015-07-07 00:25] ericelliott commented on #19
Great. =)

[2015-07-08 14:22] hotrannam commented on #4
@ericelliott where can i make a pull request for nodejs api?

[2015-07-08 16:56] mattma commented on #19
I am continuously working on this issue now. It turns out that Wordpress and MySql are all installed correctly, but I do need a Web Server to serve my PHP files.

I wish that I could install "Node" and call "npm start" to kick off my server. Well, that is not the case. I need to figure out how to use "apache" in this case. I am not too familiar with it. It took a little longer than I expected. I w

[2015-07-08 23:49] ericelliott commented on #19
Apache is fine.

Later we'll put Nginx in front of it (on a different redundant load balancer), and reverse proxy to Apache/WordPress & Node.js. We'll move routes from the WordPress proxy to the Node proxy as we port the needed features.

Apache is needed for WordPress because a LOT of the security plugins assume Apache. This is a temporary hack, and we're not going to reinvent the WordPress wheel

[2015-07-09 00:50] ericelliott commented on #4
@hotrannam [Here](https://github.com/jshomes/jshomes-platform-api). Please carefully read the [contributing doc](https://github.com/jshomes/jshomes-platform-api/blob/master/docs/contributing/index.md) and understand the Universal React Boilerplate directory conventions and understand the [versioning](https://github.com/jshomes/jshomes-platform-api/blob/master/docs/contributing/versions/index.md) (

[2015-07-09 06:14] ericelliott opened #34 "WooCommerce Conversion Tracking"
* [ ] Add [WooCommerce Conversion Tracking](https://github.com/tareq1988/woocommerce-conversion-tracking)

[2015-07-10 09:54] ericelliott opened #35 "Custom Plunkr"
We need a way to embed interactive JavaScript exercises that support ES6.

It looks like it may be possible to do so using [plunkr](https://github.com/filearts/plunker).

There is a hosted version that already supports ES6 via [hosted plugin](http://plnkr.co/edit/uNVEk2?p=info), using JSPM.

We should run our own plunkr server for course embeds so that we can assure that it can handle the traffic.

[2015-07-10 09:54] ericelliott commented on #35
See #4

[2015-07-10 10:05] ericelliott commented on #19
This is currently blocking just about everything. Do you have an update? Maybe you could open a Work in Progress PR?

[2015-07-10 23:43] mattma commented on #19
I work on this issue part time. I will try to wrap up this weekend and have an update here.

[2015-07-11 01:33] ericelliott commented on #19
Thanks. =)

[2015-07-11 21:31] ericelliott opened #36 "Jetpack Markdown doesn't work for WooCommerce short product descriptions"
See [the Jetpack bug report](https://github.com/Automattic/jetpack/issues/2396).

[2015-07-12 00:51] ericelliott commented on #36
[Fixed](https://github.com/woothemes/woocommerce/commit/eea72552f6237b3781b4eb999d218584900871f7)

[2015-07-12 00:51] #36 closed

[2015-07-12 02:08] ericelliott opened #37 "Add wp-super-cache"
[wp-super-cache](https://github.com/Automattic/wp-super-cache)

See also: #4

[2015-07-13 07:01] mattma commented on #19
Still working on. It is a hard problem. Could you give me two more days? I know it is blocking the process. I rather to make it right at the first time. Since I have not using MySQL, Apache, PHP for a couple of years, Those domain knowledge hit me hard rather than working with Vagrant and Docker.

[2015-07-13 22:49] ericelliott commented on #19
=)

[2015-07-14 01:32] jaime5x5 commented on #19
So I am pretty experienced with WP and Apache. Is there something I can help with here? I need an open source project on my resume and this is a cause I can get behind. I have basic training in Java as OOP language and some C for functional language. WP has inspired my PHP and MySQL endeavors.  Two years network administration and design training and two years computer information systems training

[2015-07-14 21:14] ericelliott commented on #19
Welcome, @jaime5x5 =)

@mattma Can you open a work-in-progress pull request that we can look at & comment on?

Jaime5x5: Another thing you could be doing while we wait is setting up [fake git submodules](http://debuggable.com/posts/git-fake-submodules:4b563ee4-f3cc-4061-967e-0e48cbdd56cb) for each of the WordPress plugins we need. You can issue a pull request for each one after putting them in the

[2015-07-15 18:44] mattma commented on #19
@ericelliott @jaime5x5

I do not need any help at the moment. I have got wordpress installation show up in Vagrant environment. I will inform you sometimes today when you could start testing. Thank you for being so patient.

[2015-07-15 20:40] mattma commented on #19
PR has been raised. https://github.com/jshomes/JSHomes-Platform/pull/38

[2015-07-21 03:42] ericelliott opened #39 "Profile Editor"
* Add [Profile Builder](https://github.com/wp-plugins/profile-builder) WordPress Plugin

[2015-07-21 03:44] ericelliott commented on #14
See #4

[2015-07-22 05:23] ericelliott opened #40 "Sendgrid WordPress Plugin"
Most web hosts will have email delivery problems. Use SendGrid to maximize deliverability.

Add [SendGrid WordPress Plugin](https://github.com/sendgrid/wordpress)

[2015-07-29 00:40] mcus commented on #1
Hey Eric, I posted this logo a month ago on your Twitter - thought I post here as well :)
/Marcus
![jshomes](https://cloud.githubusercontent.com/assets/6443901/8947436/0d137c2e-359b-11e5-98c3-997960b358b4.png)

[2015-07-29 20:13] ericelliott commented on #1
Thanks. =)

[2015-07-29 22:02] mattma commented on #1
I like @yadielar 's logo.

[2015-07-30 02:20] ericelliott commented on #1
=)

[2015-07-30 18:20] ericelliott opened #41 "Add Usersnap"
Let users get feedback + screenshots easily with [Usersnap](https://github.com/wp-plugins/usersnap)

[2015-07-30 20:37] yadielar commented on #1
@mattma =)

[2015-08-01 01:39] ericelliott opened #42 "WP Affiliate Manager plugin"
Add the [WP Affiliate Manager plugin](https://wpaffiliatemanager.com/).

I think this is the [GitHub Link?](https://github.com/wp-insider/affiliates-manager-plugin/tree/master/wpaffiliatemanager) but it may just be a confusingly similar name. Investigate and make sure it's the right one.

[2015-08-05 05:27] ericelliott opened #43 "Investigate Raneto"
Raneto is an open source static site generator based on GitHub flavored Markdown. We may be able to use it to structure and display the Markdown course content.

## Questions

If we're using WordPress for login and content authorization, how can we integrate course content generated with Raneto?

Is there a better option?

[2015-08-21 00:24] ericelliott commented on #19
This looks good. Thanks @mattma!

[2015-08-21 00:24] #19 closed

[2015-08-25 05:22] halhenke commented on #4
@SOSANA I have mucked around with Keystone a fair bit and I think its really nicely designed and has a good chance of one day being the WP replacement people are looking for. However at present it doesnt have any concept of roles - there are only admins with full access to the admin interface and non-admin who cant do anything. That means if there are any resources that you might want a non-admin

[2015-10-02 01:38] ericelliott commented on #30
Does [auth0](https://github.com/auth0/wp-auth0) support GitHub auth?

[2015-11-21 03:33] #14 closed

[2015-11-21 03:35] ericelliott opened #44 "Use Otto instead of Vagrant?"
Is there any advantage to using [Otto](https://ottoproject.io/), the successor to Vagrant instead of using Vagrant directly?

[2015-11-21 04:48] montogeek commented on #44
Have you hear of https://desktop.nanobox.io/ ?

[2015-11-21 05:37] dylangrafmyre commented on #44
@ericelliott I think Otto is a good choice however deploying to Digital Ocean with Otto is not available with the current version. https://github.com/hashicorp/otto/pull/183. Otto is only supporting AWS at this time. However, using Hashicorp's Terraform product ( the tool Otto uses under the covers for its deploy process) is very easy for deploying to Digital Ocean or any of the other Providers.

[2015-11-21 06:14] ericelliott commented on #44
Awesome. Thanks for the advice, @dylangrafmyre

[2015-11-21 06:14] ericelliott commented on #44
@montogeek Thanks, I'll look.

[2015-11-21 23:29] inadarei commented on #44
@ericelliott FWIW I don't use either. Docker Machine is the way to go, IMHO. For anything more sophisticated: Ansible. You may want to take a look at: https://github.com/apiacademy/microservices-deployment for production setup example. For local setups I use Docker Machine and skip the extra abstraction of Vagrant entirely.

[2015-11-22 00:51] ericelliott commented on #44
@inadarei @dylangrafmyre @montogeek @mattma @jaime5x5

Sounds like there are plenty of great options. At this point I'll take a PR for whatever you can get working. I'm currently deploying to DigitalOcean, so here are the requirements:

* [ ] Update current docs to include staging and production deploys to DigitalOcean
* [ ] Make any necessary changes to the JSHomes-Platform repo files
* [ ] Prese

[2015-11-22 02:47] mattma commented on #44
If I understand the requirement correctly, we want to deploy wordpress container (our app in it) to Digitial Ocean.

Do you need an automated way that talk to DO API endpoint to spin up an new droplet? Or User log on DO themselves, pick an CoreOS distro or Docker pre-installed Linux distro, do `docker pull`, `docker run -d`, or something along this line?

Ansible is good. But the state of art for

[2015-11-22 04:16] dylangrafmyre commented on #44
I think it would be helpful to truly understand what the JSHomes Platform entails now and the plans for the the future. I see that there is Wordpress CMS but is the cousreware going to be WordPress too? Or a node backend with client-side JS? I see the docker-compose template file with the link to the db container.

If you are going to need multiple containers deployed and linked it is probably sim

[2015-11-22 06:24] mattma commented on #44
Kubernetes is very complex. Totally agree. Complex to setup, easy to use. Simple is the key.

[2015-11-23 00:21] ericelliott commented on #44
Node backend with client-side JS. The Node backend will eventually connect to a Redis db. That work is still in the preliminary stages.

[2015-11-23 04:56] inadarei commented on #44
@ericelliott here's what I would do:

Separate "installing Docker" and "Installing app". It really needs to be two steps because you don't know if the person already has Docker installed (a dev) or doesn't (non-dev) or if they are installing to the cloud.

If you are OK doing that, then all that is needed for step 1 (installing Docker on Mac or Windows) is, pointing them to this easy-to-use tool:

[2015-11-23 20:54] jonathanp commented on #4
Have you seen that Wordpress is moving away from PHP/MySQL in favour or Node and React?

https://github.com/Automattic/wp-calypso

[2015-11-23 23:11] ericelliott commented on #44
@inadarei Cool. Thanks for your advice.

Yes, I agree installing Docker and installing the app are two different things. If you have suggestions to clarify that in the instructions, we're open to input.

[2015-11-23 23:37] ericelliott commented on #4
@jonathanp Yes. We discussed that with Matt Mullenweg at an Automattic retreat. We're excited that in the long term, there will very likely be a good migration to an all-JavaScript foundation. However, we still currently need to have our own WordPress.org install, and the APIs for WordPress.com and WordPress.org are not yet unified.

It will probably take time for the WordPress.org platform to mig

[2015-11-23 23:54] ericelliott commented on #44
@mattma Since you're most familiar with the current configuration, would you like to take a stab at adding the deploy automation & instructions?

[2015-11-24 05:03] ricardohbin commented on #44
@ericelliott http://deis.io combined with Docker is very nice too!

[2015-11-24 07:00] mattma commented on #44
@ericelliott I still have a little confusing on the deployment part. If we need to deploy to DO, how should I test it? Talking to DO API? or should simply providing the scripts and let user copy and paste them to DO dashboard?

[2015-11-24 12:58] inadarei commented on #44
https://docs.docker.com/machine/drivers/digital-ocean/

[2015-11-24 23:51] ericelliott commented on #44
@inadarei That looks great. =)

@mattma that digital ocean docker-machine driver looks like it could be a good starting point.

I'll leave the details up to you. As long as:

* It's easy, and
* It works

=)

[2015-11-25 00:56] inadarei commented on #44
Cool.

Needless to say: willing to help any way I can, but I am a bit confused about the direction of this project: I see there's a WordPress component, but also something related to Node.js (there's package.json but not the script package.json is declaring as its entry)? Wordpress piece will be using MySQL probably, any other storage that will be used (e.g. Redis)?

Thanks

[2015-11-25 01:02] inadarei commented on #44
Reading Elliot's comments this is what it seems is going to happen:

1. MySQL CMS on Wordpress.
2. Node.js + React.js + Redis app to run courseware

This sounds to me as:

2 apps / 2 docker-compose files: CMS and Courseware. Each docker compose declares multiple containers: code and db (4 overall: wordpress, mysql, courseware, redis). Ideally probably makes sense to have these split in two git rep

[2015-11-28 00:42] ericelliott commented on #44
Architecture overview:

* WordPress handles authentication & CMS functionality
* Course pages use the courseware, which is a Node Universal application, meaning that it renders and handles business logic on both the server and client side.
* Node API is a JSON data API that interacts with the course pages. This is responsible for keeping track of course progress, student achievements, etc...

Both

[2015-11-29 22:04] hunterlester commented on #4
I have some experience with WordPress and Express. How do I jump in to help?

[2015-11-29 22:42] ericelliott commented on #4
Hi Hunter, there are tons of open issues. Pick one up that looks interesting to you and jump in. =)

FYI, the install process may change soon. [See Issue 44](https://github.com/jshomes/JSHomes-Platform/issues/44).

[2015-11-29 22:48] sparklebunny commented on #4
I would also like to help. I will dig around and see where I can contribute.

[2015-11-30 03:19] hunterlester commented on #39
Regarding Wordpress plugins issues: are these issues meant to be implemented once the theme files have been created and therefore have a `wp-content/plugins` folder?

[2015-11-30 03:25] ericelliott commented on #39
We already have a [`wp-content/plugins` folder](https://github.com/jshomes/JSHomes-Platform/tree/master/platform/wp-content/plugins), but it's currently empty.

When all this work is done, it should look more like this:

[code]

[2015-11-30 03:28] ericelliott commented on #39
I would like an automated solution to keep plugins up to date, but I don't want to use git submodules to do it (that would get really annoying really fast).

Ideally, it would work something like [Greenkeeper.io](http://greenkeeper.io).

[2015-11-30 03:45] hunterlester commented on #39
Excuse me for missing that. Ok. I'm going to do some reading up on Greenkeeper and automating plugin updates. I'd like to help without wasting your and your team's time.

[2015-11-30 04:31] hunterlester commented on #39
Ok. I've been reading and I came upon this: https://getcomposer.org/
A PHP dependency manager so that one can potentially run `compose install` to install WP plugin files without having to check them into the theme repository.

Composer can be made aware of a package source that mirrors the WP plugin directory: http://wpackagist.org/

I've a lot more reading to do on Composer.

[2015-11-30 08:02] halhenke commented on #4
Its certainly an interesting development - thought it was an April Fool's Day thing at first or something.

[2015-11-30 09:49] ericelliott commented on #39
Hmm... I've never put plugins in a theme repository before. Is that common practice?

[2015-11-30 14:11] hunterlester commented on #39
Excuse my error, I meant to refer to the WP root directory, not the theme directory.

Going to spend some time at work today using Composer as a plugin manager, to find out if it's going to be a good option.

[2015-11-30 16:23] ericelliott commented on #39
:+1:

[2015-12-01 20:59] hunterlester commented on #42
added to composer.json

[2015-12-01 20:59] hunterlester commented on #41
added to composer.json

[2015-12-01 21:00] hunterlester commented on #40
added to composer.json

[2015-12-01 21:00] hunterlester commented on #39
added to composer.json

[2015-12-01 21:03] hunterlester commented on #37
added to composer.json

[2015-12-01 21:13] hunterlester commented on #30
This plugin added to composer.json: https://wordpress.org/plugins/wp-oauth/

I'll schedule time to experiment with this plugin.

[2015-12-01 21:31] hunterlester commented on #29
I need to find a solution for adding this plugin via it's Github repo because it's not supported in the Wordpress Plugins Directory.

[2015-12-01 21:32] hunterlester commented on #28
added to composer.json

[2015-12-01 21:39] hunterlester commented on #22
groups plugin added to composer.json
groups-404-redirect added to composer.json

[2015-12-01 21:42] hunterlester commented on #21
jetpack added to composer.json

[2015-12-01 23:00] ericelliott commented on #37
See the note in the PR. Using WordFence instead, now. =)

[2015-12-01 23:00] #37 closed

[2015-12-01 23:02] ericelliott opened #46 "Add WordFence WordPress plugin"
[WordFence](https://github.com/wp-plugins/wordfence) provides lots of great security features, including firewall, login security, and it has an integrated cache comparable to wp-supercache. =)

[2015-12-01 23:15] hunterlester commented on #46
wp-super-cache replace with wordfence plugin in composer.json

[2015-12-02 04:47] Vheissu commented on #4
I would to love help out with the Wordpress integration stuff. Now that Wordpress is becoming an API powered CMS, we have easier and more options for Javascript integration and data layer logic. How can I help?

[2015-12-06 14:08] Cryptolemming commented on #4
Hi I'd like to help but not sure where the JS/React etc fits into the WP project which is all I see atm.  Any  recommendations where to start on [this list](https://github.com/jshomes/JSHomes-Platform/issues/32)?

[2015-12-17 11:12] one-aalam commented on #1
Was trying something in the lines of...
![js_homes](https://cloud.githubusercontent.com/assets/532906/11868348/fa978f98-a4dc-11e5-8e49-97a313d24c01.png)

[2015-12-17 16:57] hunterlester commented on #1
@one-aalam I love this one!!!

[2015-12-17 17:45] ericelliott commented on #1
@one-aalam Thanks!

My favorites so far are the bluegrass logo by @yadielar and the simple heart logo by @apetrosian.

[2016-02-08 16:02] oobgam commented on #1
just putting out an idea out there, might also help someone
![screen shot 2016-02-09 at 12 00 46 am](https://cloud.githubusercontent.com/assets/2231446/12890839/54f4a9dc-cec0-11e5-8c16-7c10b0c43cf4.png)

[2016-02-08 20:02] ericelliott commented on #1
@oobgam Cool! Thanks. =)

[2016-03-06 19:37] gillchristian opened #48 "CMB2 -- for custom fields"
Hi! First of all JSHomes is really awesome! Kudos for the idea :smile:

I would like to know if there is something I could help with the [CMB2](https://github.com/WebDevStudios/CMB2) library integration. It is really useful for the creation and handling of custom meta fields and admin pages.

I know is not in the _wordpress issues list_ but wanted to give the suggesting in case it results useful.

[2016-03-06 20:34] ericelliott commented on #48
If you can come up with a good use-case example implementation, I'm happy to consider it.

[2017-01-25 19:20] danimai commented on #1
A minimalist concept
![jshomes logo 150](https://cloud.githubusercontent.com/assets/4754229/22305395/7e44e4ec-e322-11e6-8ac6-8f84678fd625.png)
![jshomes logo 70](https://cloud.githubusercontent.com/assets/4754229/22305396/80ba03c4-e322-11e6-8735-768904ee8406.png)

[2017-09-15 20:53] sjones6 commented on #4
@ericelliott : Seems like there hasn't been much work on this in a few years. Is the project still active or potentially active?

[2017-09-16 01:01] ericelliott commented on #4
Platform development has moved to a private repo, and quite a lot of progress has been made. We have learned a lot since we started the project, and helped establish refugee training programs (~90,000 refugees enter the United States with few resources each year -- one of the leading sources of America's addressable homeless population).

Our work has also inspired other training initiatives on 3

[2017-09-20 00:25] sjones6 commented on #4
@ericelliott : Thanks for your quick and charitable reply. I subsequently realized that you've mostly answered this on the README.